body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
    border: 2px solid black;
    
}

.linha:hover {
    background-color: darkgray;
}

.vert:hover {
    background-color: darkgray;
}

.vert {
    height: 50px;
}
.vert > td {
    /* text-align = alinhamento horizontal
    left- center- right*/
    vertical-align: middle;
    /* vertical-align = alinhamento vertical
    top- middle- bottom*/
}

.numero {
    text-align: right;
}


td {
    border: 1px solid black;
}